<div class="sidebar-container">
    <div class="sidebar">
        <ul class="sidebar-menu-list text-secondary scrollbar-macosx">
            <li class="sidebar-head d-md-none d-flex">
                <img class="navbar-logo mr-2" src="" />
                <span class="system-name text-condensed">
                    <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">BUDGET MANAGER</a>
                </span>
            </li>
            <li class="sidebar-menu" data-page-title="Dashboard">
                <a class="sidebar-link" data-toggle="tooltip" title="Dashboard" data-placement="right" asp-controller="Dashboard" asp-action="Index"></a>
                <span class="menu-icon">
                    <i class="fa-solid fa-house fa-fw"></i>
                </span>
                <span class="menu-text">
                    Dashboard
                </span>
            </li>
            <li class="sidebar-menu" data-page-title="User Manager">
                <a class="sidebar-link" data-toggle="tooltip" title="User Manager" data-placement="right" asp-controller="UserManager" asp-action="Index"></a>
                <span class="menu-icon">
                    <i class="fa-solid fa-users fa-fw"></i>
                </span>
                <span class="menu-text">
                    User Manager
                </span>
            </li>
        </ul>
    </div>
    <div class="sidebar-overlay"></div>
</div>