<h4>@ViewData["Title"]</h4>

<div id="usermanager" class="row pt-2">
    <div class="col-md-3">
        <div class="list-group">
            <a id="btnUsers" href="#users" class="list-group-item list-group-item-action active">
                <i class="fa fa-fw fa-user" aria-hidden="true"></i> &nbsp;Users
            </a>
            <a id="btnRoles" href="#roles" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i> &nbsp;Roles
            </a>
            <a id="btnModules" href="#module" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Module
            </a>
            <a id="btnActions" href="#action" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-bolt" aria-hidden="true"></i> &nbsp; Action
            </a>
            <a id="btnModuleActions" href="#module-action" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-cogs" aria-hidden="true"></i> &nbsp;Module Action
            </a>
            <a id="btnUserRoles" href="#user-role" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-address-book" aria-hidden="true"></i> &nbsp;User Role
            </a>
            <a id="btnUserAccess" href="#user-access" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-universal-access" aria-hidden="true"></i> &nbsp;User Access
            </a>
            <a id="btnModuleAcess" href="#module-access" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-address-card" aria-hidden="true"></i> &nbsp;Module Access
            </a>
        </div>
        <hr class="list-group-divider" />
    </div>
    <div class="col-md-9 form-container">
        <div class="tab-content">
            <!--Users-->
            <div id="users" class="jumbotron tab-pane fade show active" role="tabpanel">
                <div class="header">
                    <h5>Users</h5>
                    <button id="btnUserPageToggle" type="button" class="ml-2 btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalUserDetails">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add User
                    </button>
                    <hr />
                </div>
                @await Html.PartialAsync("./PartialViews/_Users.cshtml")
            </div>
            <!--Roles-->
            <div id="roles" class="jumbotron tab-pane fade" role="tabpanel">
                <div class="header">
                    <h5>Roles</h5>
                    <button id="btnRolePageToggle" type="button" class="ml-2 btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalRoleDetails">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Role
                    </button>
                    <hr />
                </div>
                @await Html.PartialAsync("./PartialViews/_Roles.cshtml")
            </div>
            <!--Modules-->
            <div id="module" class="jumbotron tab-pane fade" role="tabpanel">
                <div class="header">
                    <h5>Modules</h5>
                    <button id="btnModulePageToggle" type="button" class="ml-2 btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalModuleDetails">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Module
                    </button>
                    <hr />
                </div>
                @await Html.PartialAsync("./PartialViews/_Modules.cshtml")
            </div>
            <!--Actions-->
            <div id="action" class="jumbotron tab-pane fade" role="tabpanel">
                <div class="header">
                    <h5>Actions</h5>
                    <button id="btnActionPageToggle" type="button" class="ml-2 btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalActionDetails">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Action
                    </button>
                    <hr />
                </div>
                @await Html.PartialAsync("./PartialViews/_Actions.cshtml")
            </div>
            <!--Module Actions-->
            <div id="module-action" class="jumbotron tab-pane fade" role="tabpanel">
                <div class="header">
                    <h5>Module Actions</h5>
                    <button id="btnModuleActionPageToggle" type="button" class="ml-2 btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalModuleActionDetails">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Module Action
                    </button>
                    <hr />
                </div>
                @await Html.PartialAsync("./PartialViews/_ModuleActions.cshtml")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/modules/_usermanager.js"></script>
}