@using BUDGET.MANAGER.ViewModels.UserManager
@model ActionViewModel;

<div id="action-table" class="inner-forms">
    <div class="wrapper row">
        <section class="forms">
            <table id="tblAction" style="width: 100%;" class="table table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>Action Name</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
        <div class="modal fade" id="modalActionDetails" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header primary-background">
                        <h5 class="modal-title" id="actionModalTitle">Add Action</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="actionForm" method="post">
                            <div class="col-md-12 mb-3">
                                <label asp-for="ActionName" class="form-label">Action Name</label>
                                <input asp-for="ActionName" class="form-control pascal-input" autocomplete="off" />
                                <span asp-validation-for="ActionName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label asp-for="Description" class="form-label">Description</label>
                                <textarea asp-for="Description" class="form-control" autocomplete="off"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="chkActionStatus">Status</label><br />
                                <input id="chkActionStatus" type="checkbox" checked data-on-text="Active" data-off-text="Inactive" data-on-color="success" data-off-color="danger">
                            </div>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <button id="btnClearActionForm" type="reset" class="btn btn-secondary me-2">Clear</button>
                                <button id="btnSubmitAction" btn-process="add" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Action</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>