@using BUDGET.MANAGER.ViewModels.UserManager
@model ModuleActionViewModel;

<div id="module-action-table" class="inner-forms">
    <div class="wrapper row">
        <section class="forms">
            <table id="tblModuleAction" style="width: 100%;" class="table table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Module Description</th>
                        <th>Action</th>
                        <th>Action Description</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
        <div class="modal fade" id="modalModuleActionDetails" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header primary-background">
                        <h5 class="modal-title" id="moduleActionModalTitle">Add Module Action</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="moduleActionForm" method="post">
                            <div class="col-md-12 mb-3">
                                <label asp-for="ModuleActionModuleName">Module</label>
                                <select asp-for="ModuleActionModuleName" class="form-select"></select>
                                <span asp-validation-for="ModuleActionModuleName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label asp-for="ModuleActionActionName">Action</label>
                                <select asp-for="ModuleActionActionName" class="form-select"></select>
                                <span asp-validation-for="ModuleActionActionName" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <button id="btnClearModuleActionForm" type="reset" class="btn btn-secondary me-2">Clear</button>
                                <button id="btnSubmitModuleAction" btn-process="add" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Module Action</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>