@using BUDGET.MANAGER.Models.UserManager
@using BUDGET.MANAGER.ViewModels.UserManager
@model UserViewModel;

<div id="user-table" class="inner-forms">
    <div class="wrapper row">
        <section class="forms">
            <table id="tblUsers" style="width: 100%;" class="table table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Gender</th>
                        <th>Username</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
        <div class="modal fade" id="modalUserDetails" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header primary-background">
                        <h5 class="modal-title" id="userModalTitle">Add User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="userForm" method="post">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label asp-for="Username" class="form-label">Username</label>
                                    <input asp-for="Username" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label asp-for="Lastname" class="form-label">Last name</label>
                                    <input asp-for="Lastname" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Lastname" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Firstname" class="form-label">First name</label>
                                    <input asp-for="Firstname" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Firstname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label asp-for="Gender">Gender</label>
                                    <select asp-for="Gender" class="form-select">
                                        <option value="" selected disabled>Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="chkUserStatus">Status</label><br />
                                    <input id="chkUserStatus" type="checkbox" checked data-on-text="Active" data-off-text="Inactive" data-on-color="success" data-off-color="danger">
                                </div>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <button id="btnClearUserForm" type="reset" class="btn btn-secondary me-2">Clear</button>
                                <button id="btnSubmitUser" btn-process="add" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>