<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BUDGET.MANAGER</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-switch/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BUDGET.MANAGER.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/alertify/css/alertify.min.css" />
    <link rel="stylesheet" href="~/lib/alertify/css/default.min.css" />
    <link rel="stylesheet" href="~/lib/alertify/css/semantic.min.css" />
    <link rel="stylesheet" href="~/lib/snackbar/css/snackbar.min.css" />
</head>
<body>
    <header>
        @{
            await Html.RenderPartialAsync("~/Views/Partials/_Header.cshtml");
        }
    </header>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <section class="side-nav">
        @{
            await Html.RenderPartialAsync("~/Views/Partials/_SideBar.cshtml");
        }
    </section>

    <footer class="border-top footer text-muted">
        @{
            await Html.RenderPartialAsync("~/Views/Partials/_Footer.cshtml");
        }
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/lib/alertify/js/alertify.min.js"></script>
    <script src="~/lib/snackbar/js/snackbar.min.js"></script>
    <script src="~/js/animation.js" asp-append-version="true"></script>
    <script src="~/js/general.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/js/all.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
