@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: italic;
  src: url("../../fonts/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: url("../../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url("../../fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url("../../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: italic;
  src: url("../../fonts/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 300;
  font-style: italic;
  src: url("../../fonts/RobotoCondensed-LightItalic.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/RobotoCondensed-Italic.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 700;
  font-style: italic;
  src: url("../../fonts/RobotoCondensed-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: italic;
  src: url("../../fonts/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: url("../../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url("../../fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url("../../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: italic;
  src: url("../../fonts/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 300;
  font-style: italic;
  src: url("../../fonts/RobotoCondensed-LightItalic.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/RobotoCondensed-Italic.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 700;
  font-style: italic;
  src: url("../../fonts/RobotoCondensed-BoldItalic.ttf");
}
header {
  margin-bottom: 70px;
}

nav.navbar {
  color: white;
  background-color: #2b6777 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px 0px;
  max-height: 56px;
  height: 56px;
  padding: 0 1rem;
}
nav.navbar .sidebar-toggle {
  font-size: 1.25rem;
  color: inherit;
  cursor: pointer;
}
nav.navbar .proj-title a {
  display: none;
}
nav.navbar .nav-container-right {
  height: 100%;
  margin-right: -1rem;
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
  padding: 0 1rem;
}
nav.navbar .nav-container-right:hover {
  background-color: #245764;
}
nav.navbar .nav-container-right a.dropdown-toggle {
  position: relative;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 50px;
}
nav.navbar .nav-container-right a.dropdown-item {
  text-transform: none !important;
}

@media screen and (min-width: 768px) {
  nav.navbar .proj-title a {
    color: #ffffff;
    text-decoration: none;
    display: block;
  }
  nav.navbar .proj-title a:hover {
    color: #f2f2f2;
  }
}
@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: italic;
  src: url("../../fonts/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: url("../../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url("../../fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url("../../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: italic;
  src: url("../../fonts/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 300;
  font-style: italic;
  src: url("../../fonts/RobotoCondensed-LightItalic.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/RobotoCondensed-Italic.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: Roboto Condensed;
  font-weight: 700;
  font-style: italic;
  src: url("../../fonts/RobotoCondensed-BoldItalic.ttf");
}
* {
  font-family: Roboto;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Roboto;
  font-weight: 400;
  color: #343a40 !important;
  font-size: 14px;
  background-color: #ffffff;
  margin-bottom: 60px;
}

.sidebar-container .sidebar .sidebar-menu-list .sidebar-submenu-list .sidebar-submenu.active, .sidebar-container .sidebar .sidebar-menu-list .sidebar-submenu-list .sidebar-submenu:hover, .sidebar-container .sidebar .sidebar-menu-list .sidebar-menu.active:not(.sidebar-menu-dropdown), .sidebar-container .sidebar .sidebar-menu-list .sidebar-menu:hover:not(.sidebar-menu-dropdown) {
  color: #2b6777;
}

.sidebar-container .sidebar .sidebar-menu-list .sidebar-submenu-list .sidebar-submenu, .sidebar-container .sidebar .sidebar-menu-list .sidebar-menu, .sidebar-container .sidebar .sidebar-menu-list .sidebar-head {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  transition: background-color 0.3s;
}

.sidebar-container .sidebar {
  position: fixed;
  min-height: calc(100vh - 56px);
  height: 100%;
  max-width: 320px;
  min-width: 0;
  width: 0;
  z-index: 2;
  left: 0;
  top: 56px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px 0px;
  transition: all 0.3s;
  background-color: #f2f2f2;
  overflow-y: auto;
}
.sidebar-container .sidebar .sidebar-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-head {
  opacity: 0;
  padding: 1rem 1rem;
  transition: opacity 0.3s;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-head img {
  height: 25px;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-head .system-name {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.15em;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-head .system-name a {
  color: #343a40;
  text-decoration: none;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-menu {
  padding: 0.35rem 1rem;
  border-top: 1px solid #dddddd;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-menu .menu-icon {
  font-size: 1.2rem;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-menu .menu-text {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-menu:hover {
  background-color: #edf0f2;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-menu.sidebar-menu-dropdown.active {
  background-color: #e9ecef;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-submenu-list .sidebar-submenu {
  padding: 0.5rem 1rem;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-submenu-list .sidebar-submenu .submenu-icon {
  font-size: 1rem;
  margin-left: 1rem;
  transition: margin 0.3s;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-submenu-list .sidebar-submenu .submenu-text {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  font-size: 0.8rem;
}
.sidebar-container .sidebar .sidebar-menu-list .sidebar-submenu-list .sidebar-submenu:hover {
  background-color: #edf0f2;
}
.sidebar-container.open .sidebar {
  width: 320px;
}
.sidebar-container.open .sidebar .menu-text, .sidebar-container.open .sidebar .submenu-text, .sidebar-container.open .sidebar .sidebar-head {
  opacity: 1 !important;
}
.sidebar-container.open .sidebar .submenu-icon {
  margin-left: 1rem !important;
}
.sidebar-container.open .sidebar-overlay {
  opacity: 1;
  z-index: 1;
}
.sidebar-container .sidebar-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s, z-index 0.3s;
}

@media screen and (min-width: 768px) {
  .sidebar-container .sidebar {
    min-width: 56px;
    width: 56px;
  }
  .sidebar-container .sidebar .sidebar-menu {
    padding: 0.8rem 1rem !important;
  }
  .sidebar-container .sidebar .submenu-icon {
    margin-left: 0.1em !important;
  }
}
