@import 'base/all';
@import 'layout/all';
@import 'modules/all';

.primary-background {
    background-color: $primary-color !important;
    color: $light-color !important;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}

.badge-success {
    background-color: $color-success !important;
    color: $light-color !important;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem
}

.badge-default {
    background-color: $color-default !important;
    color: $light-color !important;
}

.badge-warning {
    background-color: $color-danger !important;
    color: $light-color !important;
}

.badge-danger {
    background-color: $color-danger !important;
    color: $light-color !important;
}

textarea{
    resize: none;
}

.text-red {
    color: $color-danger;

    &:hover {
        color: $hover-danger !important;
    }
}